@import "animations.scss";
//COLORS
$colorMain: #ff7c08;
$colorMainTrans: rgba(255, 124, 8, 0.26);
$colorMainTrans2: #ff7c08e8;
$colorMainTrans3: #ff7c0821;
$paraColor: #484747;
$textColor: #545454;
$colorBgMain: #231f40;
$colorBgMainTrans: #231f40cc;
$sectionColor: #EEF6EB;
$colorBlack: #231f40;

$shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;

//FONTS
$fontPara: 'Manrope', sans-serif;
$fontHeading: 'Barlow', sans-serif;
$fontCursive: 'Oleo Script', cursive;

//MIXINS
@mixin icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: $colorMain;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  transition: 0.3s;
  cursor: pointer;
}

@mixin discount {
  position: absolute;
  box-sizing: border-box;
  border-radius: 100%;
  background-color: $colorMain;
  border: white solid 4px;
  color: white;
  line-height: 1;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

//flex
.d-flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: start;
}

.j-center {
  justify-content: center;
}

.j-start {
  justify-content: start;
}

.space-btw {
  justify-content: space-between;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}

.gap-card {
  gap: 1.5rem;
}

.gap-big {
  gap: 3rem;
}

.f-wrap {
  flex-wrap: wrap;
}

//display
.d-grid {
  display: grid;
}

.d-none {
  display: none;
}

.relative {
  position: relative;
}

//MARGINS, PADDINGS
.p1 {
  padding: 1rem;
}

.p2 {
  padding: 2rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.py-100 {
  padding: 100px 0;
}

.w-100 {
  width: 100%;
}

.m-2 {
  margin: 2rem;
}

.m0 {
  margin: 0;
}

//CONFIG
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: $textColor;
}

a {
  text-decoration: none;
  font-family: $fontPara;
  transition: 0.3s;

  i {
    transition: 0.3s;
  }
}

p {
  font-family: $fontPara;
  font-size: 16px;
}

h1 {
  color: white;
  font-family: $fontHeading;
  font-size: 58px;
  line-height: 1.2;
  margin: 0;
}

h2 {
  font-size: 35px;
  font-family: $fontHeading;
  margin: 0;
  font-weight: 800;
  color: $colorBlack;
  padding: 10px 0;
}

h3 {
  color: $colorMain;
  font-family: $fontCursive;
  font-size: 30px;
  margin: 0;
  text-transform: capitalize;

}

h4 {
  color: $colorMain;
  font-family: $fontCursive;
  font-size: 24px;
  text-transform: capitalize;
  margin: 0;
}

h5 {
  font-size: 20px;
  font-family: $fontHeading;
  color: $colorMain;
  margin: 0;
}

//GENERAL
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.color-main {
  background-color: $colorMain;
}

.color-bg-main {
  background-color: $colorBgMain;
}

.color-section {
  background-color: $sectionColor;
  padding-top: 5rem;
}

.text-white {
  color: white;
}

.text-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-underline {
  border-bottom: $colorMain 1px solid;
}

//HEADER
.top-bar {
  background-color: $colorBgMain;
  height: 50px;
  box-sizing: border-box;
  transition: 0.3s;

  .triangle-nav-left {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-top: 0;
    border-bottom: 50px solid $colorMain;
  }

  .triangle-nav-right {
    width: 0;
    height: 0;
    border-right: 25px solid transparent;
    border-bottom: 0;
    border-top: 50px solid $colorMain;
  }

  .filler {
    width: 50px;
    background-color: $colorMain;
  }

  a {
    color: white;
    padding-right: 1rem;
    font-weight: 500;

    i {
      color: white;
    }
  }

  a:hover {
    color: black;

    i {
      color: black;
    }
  }
}

.social {
  height: 50px;

  i {
    @include icon;

    &:hover {
      color: $colorMain;
      background-color: white;
    }
  }
}

.logo img {
  width: 160px;
}

.nav-bar {
  box-sizing: border-box;
  background-color: white;
  position: sticky;
  top: 0;
  border-bottom: #dddddd solid 1px;
  z-index: 5;

  .container {
    height: 79px;
    position: relative;
  }

  a {
    color: black;
    font-weight: 600;
    padding: 31px 10px;
    line-height: 1;
    font-size: 16px;

    i {
      font-size: 0.7rem;
      margin-left: 0.2rem;
    }

    &:hover {
      color: $colorMain;
      border-bottom: $colorMain solid 2px;
    }

    &:hover i {
      color: $colorMain;
    }
  }

  .active {
    color: $colorMain;
    border-bottom: $colorMain solid 2px;
  }

  .nav-icons i {
    @include icon;
    height: 40px;
    width: 40px;
    background-color: $colorMainTrans;
    color: black;
    margin-left: 1rem;

    &:hover {
      background-color: $colorMain;
      color: white;
    }
  }

  .cart-item-count {
    position: absolute;
    top: -15px;
    right: -15px;
    @include icon;
    height: 25px;
    width: 25px;
    font-weight: 600;
    font-size: 0.7rem;
    font-family: "Manrope", sans-serif;
    border: white 1px solid;
  }

  .hamburger {
    i {
      background-color: $colorMain;
      color: white;
      font-size: 1.2rem;
      padding: 0.6rem;
      border: rgba(0, 0, 0, 0.1) solid 1px;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}

.mobile-nav {
  display: none;
}

#pages-desktop {
  position: relative;
}

#pages-mobile {
  position: relative;
}

.sub-menu {
  height: 0;
  overflow: hidden;
  transition: 0.3s all;
  position: absolute;
  top: 80px;
  left: 0;
  background-color: white;
  width: 250px;
  max-width: 100vw;
  border-radius: 5px;
  color: $colorBgMain;
  transform: translateY(0rem);
  box-sizing: border-box;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;

  li {
    padding: 1rem 2rem 1rem 0rem;
    transition: 0.3s;
    list-style: none;

    &:hover {
      color: $colorMain;
      list-style: unset;
      margin-left: 0.2rem;
    }
  }
}

#pages-sub-menu-m {
  transform: translateY(-1.5rem);
  z-index: 20;
  left: -50%;
}

.show-sub-menu {
  height: 500px;
  overflow: auto;
  transform: translateY(-1rem);
}

.show-sub-menu-mobile {
  height: 250px;
  overflow: auto;
}

.header-wrapper {
  background-image: url(" images/banner_bg.jpg");
  background-position: center;
  background-size: cover;
}

.header {
  background-color: #231f40c4;
  padding: 4rem 0;

  .form-wrapper {
    padding: 10px;
    background-color: white;
    border-radius: 40px;
  }

  form {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: white;
    border-radius: 35px;
  }

  input {
    flex-grow: 2;
    border: none;
    margin: 10px 20px;

  }

  input::placeholder {
    color: #bbb;
  }

  input:focus {
    outline: none;
  }
}

button {
  background: $colorMain;
  color: white;
  border: $colorMain solid 1px;
  border-radius: 30px;
  font-family: $fontPara;
  font-weight: 600;
  transition: 0.3s ease-in;
  text-align: center;
  cursor: pointer;

  i {
    margin-right: 5px;
  }

  .btn-inside-wrap {
    width: 50px;
    padding: 25px 40px;
    text-align: center;
    margin: auto;

    span:nth-child(1) {
      position: absolute;
      left: 0;
      top: 17px;
      transition: 0.4s ease-in;
      opacity: 0;
    }

    span:nth-child(2) {
      position: absolute;
      top: 17px;
      left: calc(50% - 25px);
      transition: 0.4s ease-in;
    }
  }
}

button:hover {
  background-color: $colorBgMain;
  border: $colorBgMain solid 1px;

  .btn-inside-wrap {
    span:nth-child(1) {
      transform: translateX(20px);
      opacity: 1;
    }
  }

  span:nth-child(2) {
    transform: translateX(10px);
  }
}

.img-circle {
  padding: 1.5rem;
  text-align: center;

  .spin-bg-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    animation: rotate 30s infinite linear;
  }

  .no-spin-img-wrapper {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
  }

  img {
    width: 100%;
    border-radius: 50%;
  }

  .discount-circle {
    @include discount;
    height: 140px;
    width: 140px;
    font-size: 35px;
    font-family: $fontCursive;
    top: 0;
    left: 0;
    margin: 3rem;
    z-index: 2;
  }
}

.header {
  .banner-shape-1 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 70px;
    left: 40px;
    animation: rotate 30s infinite linear;
  }

  .banner-shape-2 {
    position: absolute;
    width: 60px;
    //top: 550px;
    //left: 40px;
    top: 85%;
    left: 5%;
    animation: pulse 3s infinite linear alternate;
  }

  .banner-shape-3 {
    position: absolute;
    width: 40px;
    bottom: 80px;
    left: 340px;
    animation: move-x 3s infinite linear alternate;
  }

  .banner-shape-4 {
    position: absolute;
    width: 50px;
    top: 80px;
    left: 50%;
    animation: pulse 3s infinite linear alternate;
  }

  .banner-shape-5 {
    position: absolute;
    width: 40px;
    bottom: 80px;
    left: 600px;
    animation: rotate 30s infinite linear;
  }

  .banner-shape-6 {
    position: absolute;
    width: 60px;
    top: 80px;
    right: 100px;
    animation: move-x 5s infinite linear alternate;
  }
}

.btn-back {
  @include icon;
  width: 40px;
  height: 40px;
}

.btn-back:hover {
  background-color: $colorBgMain;
}

.btn-forward {
  @include icon;
  width: 40px;
  height: 40px;
  background-color: $colorBgMain;
}

.cards-offers {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  align-items: center;

  .discount-circle-small {
    right: 10px;
    top: 30px;
  }
}

.offer {
  background-size: cover;
  background-position: center;
  border: white 10px solid;
  margin: 3rem 0;
  padding: 0;

  border-radius: 5px;

  p {
    margin: 5px 0;
  }
}

.nuggets {
  background-image: url(" images/offer_item_img1.jpg");
}

.masala {
  background-image: url(" images/offer_item_img2.jpg");
}

.makhani {
  background-image: url(" images/offer_item_img3.jpg");
}

.article-icons i {
  @include icon;
  font-size: 0.9rem;

  &:hover {
    background-color: $colorBgMain;
  }
}

.title {
  color: $colorBlack;
  font-size: 20px;
  font-family: $fontHeading;
  text-transform: capitalize;
  font-weight: 700;
  margin: 10px 0 5px;

  &:hover {
    color: $colorMain;
  }
}

.discount-circle-small {
  @include discount;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: white solid 2px;
  font-family: $fontPara;
  font-weight: 600;
}

.book-form-wrapper {
  background-image: url(" images/reservation_bg.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.book-form-wrapper:after {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  right: -1px;
  background: $colorMainTrans2;
  clip-path: polygon(54% 0, 100% 0%, 100% 100%, 38% 100%);
  box-sizing: border-box;
  border-radius: 10px;
}

.book-form {
  z-index: 2;
  padding: 2rem;

  h2 {
    color: white;
    border-bottom: white solid 1px;
  }

  form {
    padding: 5px;
    border: none;

    label {
      color: white;
      font-family: $fontPara;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 5px 0;
    }

    input, select {
      border: 1px solid #ddd;
      padding: 1rem;
      border-radius: 5px;
      margin: 5px 5px 5px 0;
    }

    input::placeholder {
      color: #bbb;
    }

    input:focus, select:focus {
      outline: none;
    }

    select {
      option {
        padding: 10px 0;
      }

      option:first-child {
        font-weight: bold;
      }

      option:hover {
        background-color: #bbbbbb;
      }
    }
  }
}

.btn-form {
  border-radius: 5px;
  margin: 15px 5px 10px;
  background-color: $colorBgMain;
  border: $colorBgMain 1px solid;

  .btn-inside-wrap {
    width: 100%;
  }
}

.section {
  background-color: #fbfbfb;
  padding: 100px 0 0;
  box-sizing: border-box;
  overflow: hidden;

  .shadow-top {
    top: 0;
    left: -200px;
  }

  .shadow-bottom {
    bottom: 0;
    right: -200px;
  }

  .shadow {
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, $colorMainTrans 0%, rgba(255, 255, 255, 0) 66%, rgba(255, 255, 255, 0) 100%);
  }
}

.pb-100 {
  padding-bottom: 100px;
}

.btn-simple {
  background-color: white;
  color: $colorMain;
  border: $colorMain 1px solid;
  padding: 7px 20px;
  margin: 5px 0 0 10px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  z-index: 2;
}

.btn-simple:hover {
  background-color: $colorMain;
  color: white;
  border: $colorMain 1px solid;
}

.all-menu {
  background-color: $colorMain;
  color: white;
  border: $colorMain 1px solid;
}

.food-cards {
  margin-top: 40px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 25px;
}

.blog-cards {
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
}

.food-card {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 220px);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-sizing: border-box;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;

  .food-img {
    overflow: hidden;

    img {
      min-width: 100%;
      height: 100%;
      transition: 0.5s;
      transform: scale(1);
    }
  }
}

.blog-card {
  margin: 0 13px;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 220px 250px 50px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f5f5f5;
  box-sizing: border-box;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  z-index: 1;
  transition: 0.5s;

  .card-middle {
    border-bottom: $colorMainTrans solid 1px;
  }

  .food-img {
    border-radius: 10px;
    overflow: hidden;

    img {
      min-width: 100%;
      height: 100%;
      transition: 0.5s;
      transform: scale(1);
    }
  }

  a {
    color: black;
    transition: 0.3s;

    i {
      margin-left: 5px;
      transition: 0.3s;
    }
  }

  a:hover {
    color: $colorMain;

    i {
      color: $colorMain;
    }
  }
}

.comments {
  color: $colorMain;
}

.avatar {
  margin-right: 10px;

  img {
    border: white solid 4px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
  }
}

.name-person {
  color: black;
  font-size: 17px;
  margin: 0;
}

.date {
  color: $colorMain;
  font-size: 13px;
  margin: 0;
}

.food-card-wrapper:hover, .blog-card:hover {
  transform: translateY(-5px);

  .food-img img {
    transform: scale(1.05);
  }
}

.stars {
  color: $colorMain;
  margin: 10px;

  span {
    color: black;
    font-weight: 600;
  }
}

.old-price {
  margin: 5px;
  font-weight: 600;
  font-family: $fontHeading;
  font-size: 18px;
}

.food-label {
  position: absolute;
  top: -15px;
  right: 0;
  background-color: $colorMain;
  color: white;
  font-family: $fontCursive;
  padding: 3px 15px;
  border-radius: 4px 0 0 4px;
  font-size: 16px;
  z-index: 2;
  transition: 0.3s;
  cursor: pointer;
}

.food-label:hover {
  color: black;
}

.blog-card .food-label {
  right: 15px;
  border-radius: 4px;
}

.food-card-wrapper {
  padding: 0 13px;
  transition: 0.5s;
}

.cart-label {
  position: absolute;
  bottom: 30px;
  left: 0;
  background-color: $colorMain;
  color: white;
  font-family: $fontPara;
  padding: 6px 25px;
  border-radius: 0 4px 4px 4px;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;

  div {
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-top: 0;
    border-bottom: 20px solid orangered;
  }
}

.cart-label:hover {
  background-color: $colorBgMain;

  div {
    border-bottom: 20px solid $colorBgMain;
  }
}

.food-icons {
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;

  i {
    background-color: white;
    color: $colorMain;
    border: $colorMain 1px solid;
    border-radius: 4px;
    padding: 8px;
    margin: 2px;
    transition: 0.3s;
  }

  i:hover {
    background-color: $colorMain;
    color: white;
    border: $colorMain 1px solid;
  }
}

.chefs-card {
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  padding: 30px;
  text-align: center;
  transition: 0.5s ease;
  position: relative;
  margin: 0 13px 30px;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30%;
    background: $colorMain;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0%, 100% 25%, 50% 100%, 0 25%);
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url(images/chefs_shapes.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85px;
    height: 150px;
    bottom: 0;
    left: -15px;
    transform: rotate(45deg);
    opacity: .04;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }

  p {
    margin: 0 0 20px;
    font-weight: 600;
  }
}

.photo-circle {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: white 10px solid;
  border-radius: 100%;
  background-color: $colorMain;
  padding: 10px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;

  img {
    border-radius: 100%;
    width: 160px;
    height: 160px;
    margin: 5px;
    transform: scale(1);
    transition: 0.3s;
  }
}

.chefs-card:hover {
  transform: translateY(-5px);

  img {
    transform: scale(1.05);
  }
}

.social-icons-card i {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: $colorMainTrans3;
  color: $colorMain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3rem;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $colorMain;
    color: white;
  }
}

.specials {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin: 13px;

  h5 {
    font-family: $fontCursive;
    font-size: 20px;
    font-weight: lighter;
  }

  h2 {
    font-size: 25px;
  }

  p {
    margin-top: 0;
  }

  a {
    color: black;
    font-weight: 600;
    border-bottom: black solid 1px;
    padding: 5px;
    transition: 0.3s;

    i {
      margin-left: 10px;
      transition: 0.3s;
    }
  }

  a:hover {
    color: $colorMain;

    i {
      color: $colorMain;
    }
  }
}

.week-offer {
  background-image: url(" images/offer_slider_1.png");
}

.day-offer {
  background-image: url(" images/offer_slider_2.png");
}

.download-box-wrapper {
  background-image: url(" images/download_img.png");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.download-box {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: $colorBgMainTrans;
  padding: 3rem 1rem;

  h2 {
    color: white;
  }
}

.btn-orange {
  background-color: $colorMain;
  color: white;
  padding: 7px 25px;
  margin: 5px;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.3s;

  i {
    font-size: 25px;
  }

  &:hover {
    background-color: #c43e0a;
  }
}

.food-grid {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1.5rem;
}

.img-wrap {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    min-height: 100%;
    width: 100%;
  }
}

.testimonials-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 85px);

  .half-bg {
    background-color: $colorMain;
    border-radius: 20px;
    grid-area: 2 / 1 / 6 / 4;
    z-index: 0;
  }

  .testimonial-card {
    background-color: $colorBgMain;
    border-radius: 30px;
    grid-area: 2 / 1 / 6 / 7;
    z-index: 1;
    margin: 15px;
    color: white;
    text-align: center;
    padding: 70px 40px 20px;
    overflow: hidden;

    .quotes {
      font-size: 40px;
      color: $colorMain;
    }

    h2 {
      color: white;
      padding-bottom: 0;
    }

    p {
      margin-top: 0;
    }
  }

  .test-circle {
    grid-area: 1 / 3 / 3 / 5;
    z-index: 2;

    img {
      width: 150px;
      height: 150px;
      box-sizing: border-box;
      border: white 5px solid;
      border-radius: 100%;
      box-shadow: $shadow;
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
    }
  }
}

.testimonials-bg {
  padding: 100px 0;
  background-image: url(" images/testimonial_bg.jpg");
  background-size: cover;
  background-position: center;
}

.rice-bg {
  background-image: url(" images/counter_bg.jpg");
  background-size: cover;
  background-position: center;
}

.table-bg {
  background-size: cover;
  background-position: center;
  background-image: url(" images/footer_bg.jpg");
}

.bg-dark-layer {
  background-color: $colorBgMainTrans;
}

.number-circle {
  height: 200px;
  width: 200px;
  background-color: $colorBgMainTrans;
  color: white;
  border-radius: 100%;
  border: white 5px solid;
  margin-top: 30px;

  p {
    font-size: 35px;
    font-family: $fontPara;
    font-weight: 700;
  }
}

.in-circle-icon {
  position: absolute;
  bottom: -30px;
  @include icon;
  height: 50px;
  width: 50px;
}

.table-bg {
  .social i {
    width: 35px;
    height: 35px;
  }
}

.footer-square {
  font-size: 10px;
  color: $colorMain;
  margin-right: 10px;
}

.footer-title {
  color: white;
  font-weight: 600;
  border-bottom: $colorMain 1px solid;
  margin: 0 0 5px;
  padding: 5px 0;
}

.footer-icon {
  font-size: 20px;
  color: $colorMain;
  margin-right: 10px;
}

.footer-link {
  color: white;
  transition: 0.3s;

  &:hover {
    color: $colorMain;
  }
}

footer {
  margin-bottom: -60px;
}

.finger {
  position: sticky;
  bottom: 30px;
  left: 95%;
  z-index: 3;
  @include icon;
  height: 45px;
  width: 45px;
  border: white 1px solid;

  &:hover {
    background-color: $colorBgMain;
  }
}

//Media Queries
@media (max-width: 1400px) {
  .d-none-xl {
    display: none;
  }
  .f-col-xl {
    flex-direction: column;
  }
  .cards-offers {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-offers .discount-circle-small {
    right: 40px;
    top: 10px
  }
  .food-cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .food-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  h1 {
    font-size: 48px;
  }
  .d-none-lg {
    display: none;
  }
  .banner-shape-1 {
    height: 50px !important;
    width: 50px !important;
  }
  .banner-shape-3 {
    right: 100px !important;
    left: unset !important;
    width: 55px !important;
  }
  .cards-offers .discount-circle-small {
    right: 30px;
    top: 25px
  }
  .book-form-wrapper:after {
    display: none;
  }
  .book-form {
    background-color: $colorMainTrans2;
    border-radius: 10px;
  }
  .food-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-card {
    grid-template-rows: 250px 250px 50px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  h1 {
    font-size: 58px;
  }
  .f-col-md {
    flex-direction: column;
  }
  .f-row-md {
    flex-direction: row;
  }
  .d-none-md {
    display: none;
  }
  .d-block-md {
    display: block;
  }
  .gap0-md {
    gap: 0;
  }
  .mx5-md {
    margin: 0 5rem;
  }
  .color-bg-main-md {
    background-color: $colorBgMain;
  }
  .flex-order-2-md {
    order: 2;
  }
  .logo img {
    width: 140px;
  }
  .img-circle .discount-circle {
    right: 0;
    left: unset;
  }
  .banner-shape-2 {
    width: 40px !important;
    top: 45% !important;
    left: 5% !important;
  }
  .banner-shape-3 {
    right: unset !important;
    left: 100px !important;
  }
  .banner-shape-4 {
    left: 80% !important;
  }
  .banner-shape-5 {
    left: unset !important;
    right: 100px !important;
    width: 50px !important;
  }
  .cards-offers .discount-circle-small {
    right: 20px;
    top: 25px
  }
  .food-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .food-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
  }
  .mobile-nav {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    display: block;
    transition: 0.3s all;
    transform: scaleY(0);
    transform-origin: top;

    div {
      background-color: #fff;
      padding-top: 1.5rem;
    }

    a {
      background-color: #fff;
      padding: 1.5rem;
    }

    .nav-icons {
      padding-bottom: 1.5rem;
    }
  }

  .mobile-nav.shown {
    transform: scaleY(100%);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 25px;
  }
  h4 {
    font-size: 18px;
  }
  .d-none-sm {
    display: none;
  }
  .mx1-sm {
    margin: 0 1rem;
  }
  .img-circle .discount-circle {
    left: 0;
    right: unset;
  }
  .cards-offers {
    grid-template-columns: 1fr;
  }
  .cards-offers .discount-circle-small {
    right: 40px;
    top: 20px
  }
  .btn-simple {
    font-size: 14px;
  }
  .food-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px;
  }
  .blog-cards {
    grid-template-columns: 1fr;
  }
  .blog-card {
    grid-template-rows: 280px 250px 50px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 1rem;
  }
  h1 {
    font-size: 40px;
  }
  h3 {
    font-size: 20px;
  }
  .f-col-xs {
    flex-direction: column;
  }
  .d-none-xs {
    display: none;
  }
  .j-center-xs {
    justify-content: center;
  }
  .a-center-xs {
    align-items: center;
  }
  .m0-xs {
    margin: 0;
  }
  .flex-order-1-xs {
    order: 0;
  }
  .header {
    form {
      padding: 5px;
      background-color: white;
      border: none;
    }

    input {
      border: 1px solid #ddd;
      padding: 17px 40px;
      border-radius: 30px;
      margin: 0 0 10px;
    }
  }
  .img-circle .discount-circle {
    width: 100px;
    height: 100px;
    font-size: 25px;
  }
  .btn-simple {
    font-size: 13px;
  }
  .food-cards {
    grid-template-columns: 1fr;
  }
  .food-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 380px;
  }
  .testimonials-grid {
    grid-template-rows: repeat(5, 100px);
  }
}


